<table>
  <% if caption %>
  <caption>
    <%= @fpoint.name %> - WAVE <%= @meta.noaa_filename.upcase.gsub(".GRIB.GRIB2","") %> 
  </caption>
  <%end%>

  <thead>
    <tr>
      <th>[LOGO  WHERETOSURF]</th>
      
      <% st_init.upto st_end do |i| %>
      <% d = @dates[i].forecast_date %>
      <th>
        <script type="text/javascript">
          getLocalDay(<%=d.month%>,<%=d.day%>,<%=d.hour%>)
        </script>         

          <!-- inject_br @dates[i].forecast_date.strftime(@date_format) -->
      </th>
  <% end %>
    </tr>
  
    <tr>
      <th>User Time</th>
      <% st_init.upto st_end do |i| %>
      <% local_hour =  @dates[i].forecast_date.strftime(@time_format) %>
      <th>
        <!-- here we call a js function to put the local time of the person -->
        <script type="text/javascript">
          getUserTime(<%=local_hour%>, <%= @fpoint.utc %>)
        </script>         
      </th>
      <%end%>
    </tr>

     <tr>
      <th>Local Time</th>
      <% st_init.upto st_end do |i| %>
      <% local_hour = @dates[i].forecast_date.strftime(@time_format) %>
      

      <th>
        <% real_time=utc_to_local(local_hour,@fpoint.utc)  %>
        <%=format_hour(real_time) %> 
        <script type="text/javascript">
          getLocalTimeOffset(<%=local_hour%>, <%= @fpoint.utc %>)
        </script>              
      </th>
      <%end%>
    </tr>


  </thead>
  <tbody>

<% surf_var = @variables.find {|z| z.name == 'SURFZ'  } %>  

 <%= render(:partial => 'surf_size_entry.html',:locals =>
    {:all=>@all,:start_at=>st_init,
    :max=>st_end,:human_name=>surf_var.human_name,:max_h=>@max_h,:ratio=>ratio }) 
   
 %>
    

 <% @variables.find_all{|z| z.name != 'SURFZ'}.each  do |var| %>


<%= render(:partial =>'common_var_entry.html', :locals=>{:all=>@all,:var_name => var.name,:human_name=>var.human_name,:start_at=>st_init, :max=>st_end } )%>

<% end %>

  </tbody>

</table>
