
 
  

  

 <td height="<%= @max_h  %>" ><%=human_name%></td>

<%
  all_var = all.find_all {|item| item.var_name == 'SURFZ'}  
  start_at.upto max do |i|   
  fl,cl = formater_for_surf_size(all_var[i])
%>


   <td style="vertical-align: bottom;">
     <table cellspacing="1" cellpadding="1" border="0" class="surf" >
       <tbody>
         <tr>
           <td class="surf" bgcolor="#6ebada"  width="25" align="center"><%=cl%> </td>
         </tr>
         <tr>
           <td class="surf" width="25" valign="bottom" height="<%=cl.to_f*ratio %> " bgcolor="#6ebada" align="center" style= "vertical-align: top;"><%=fl%></td>      </tr>
       </tbody>
     </table>
   </td>
<%end%>
