<!-- <ul> -->
<!--   <li>lat: <%=@lat%> </li>     -->
<!--   <li>lon: <%=@lon%> </li> -->
<!-- </ul> -->


<%= @meta.grib_date %> </td>
<div class="forecast-table">
  <%= render(:partial =>'subtable_forecast.html', :locals =>  {:st_init=>@f_offset,:st_end=>@max_per_row-1,:caption=>true } )%>
</div>

<div class="forecast-table">  
  <!--Second Row of the  main toplevel tl -->
  <%= render(:partial =>'subtable_forecast.html', :locals =>  {:st_init=>@max_per_row+1,:st_end=>@dates.size-1,:caption=>false } )%>
</div>
