<h1>Listing forecast_points</h1>

<table>
  <tr>
    <th>Lat</th>
    <th>Lon</th>
    <th>Name</th>
    <th>Throttle</th>
  </tr>

<% @forecast_points.each do |forecast_point| %>
  <tr>
    <td><%=h forecast_point.lat %></td>
    <td><%=h forecast_point.lon %></td>
    <td><%=h forecast_point.name %></td>
    <td><%=h forecast_point.throttle %></td>
    <td><%= link_to 'Show', forecast_point %></td>
    <td><%= link_to 'Edit', edit_forecast_point_path(forecast_point) %></td>
    <td><%= link_to 'Destroy', forecast_point, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New forecast_point', new_forecast_point_path %>