<table>
<th colspan="2">Add a New Point</th>
<% form_for(@forecast_point) do |f| %>

<tr><td colspan="2"> <%= f.error_messages %></td></tr>

<tr>
  <td> <%= f.label :lat %> </td>
  <td> <%= f.text_field :lat %></td>
</tr>
<tr>
<td><%= f.label :lon %></td>
<td>    <%= f.text_field :lon %></td>

</tr>
<tr>
  <td> <%= f.label :name %> </td>
  <td>  <%= f.text_field :name %> </td>
</tr>
<tr>

<td>    <%= f.label :upper_throttle %></td>
<td>    <%= f.text_field :upper_throttle %></td>
</tr>

<tr>
<td>    <%= f.label :lower_throttle %></td>
<td>    <%= f.text_field :lower_throttle %></td>
</tr>
<tr>
<td>    <%= f.label "UTC Offset" %></td>
<td>    <%= f.text_field :utc %></td>
</tr>
<tr>
<td colspan="2">
    <%= f.submit 'Create' %>
</td>
</tr>
<% end %>
</table>

<%= link_to '<< Back', forecast_points_path %>
